{% extends 'songlab_base.html' %}
{% load staticfiles %}

{% block title %} SongLab {% endblock %}
 {% block header-Content  %}{% endblock %}

{% block content %}
                <!--  Page Header  -->
                <div id="page-header" class="secondary-background">
                    <div class="container">
                        <div class="row no-margin">
                            <div class="text">
                                <h1 class="white">科研成果.</h1>
                                <ul class="breadcrumb white">
                                    <li><a href="index.html">主页</a></li>
                                    <li>科研成果</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  END Page Header  -->
                <div id="home-wrap" class="content-section fullpage-wrap">
                    <div class="container">
                        <!-- Service -->
                        <div class="row no-margin padding-lg">
                            <div class="col-md-4 padding-leftright-null">
                               <div class="text padding-topbottom-null">
                                   <h2 class="margin-bottom-null left">领域</h2>
                               </div>
                            </div>
                            <div class="col-md-8 padding-leftright-null">
                                <div class="text padding-topbottom-null">
                                    <h3>题目</h3>
                                    <p class="margin-bottom-null">梗概或者文献之类 Encong Wang, Li Sun, Meirong Sun, Jing Hang, Ye Tao, Xixi Zhao, Zhanliang Wu, Yulong Ding, Daniel P. Newman, Mark A. Bellgrove, Yufeng Wang, Yan Song*. Attentional selection and suppression
                                        in children with attention-deficit/hyperactivity disorder. Biological Psychiatry: CNNI, 1, 372-380, 2016.
                                        <a href={% static 'article/git.pdf' %}>git</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- END Service -->
                    </div>
                    <div class="light-background">
                        <div class="container">
                            <!-- Service -->
                            <div class="row no-margin padding-lg">
                                <div class="col-md-4 padding-leftright-null">
                                    <div class="text padding-topbottom-null">
                                        <h2 class="margin-bottom-null left">大块东西</h2>
                                    </div>
                                </div>
                                <div class="col-md-8 padding-leftright-null">
                                    <div class="text padding-topbottom-null">
                                        <h3>标题</h3>
                                        <p class="margin-bottom-null">Fang Wang, Jing Huang, Yaping Lv, Xiaoli Ma, Bin Yang, Encong Wang, Boqi Du, Wu Li,Yan Song*.  Predicting perceptual learning from higher-order cortical processing. NeuroImage, 124, 682-692, 2016.
                                            3.        Jing Huang, Fang Wang, Yulong Ding, Haijing Niu, Fanghua Tian, Hanli Liu, Yan Song*. Predicting N2pc from anticipatory HbO activity during sustained visuospatial attenZhation: a concurrent fNIRS–ERP study. NeuroImage, 113, 225-234, 2015.

                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- END Service -->
                        </div>
                    </div>
                    <div class="container">
                        <!-- Service -->
                        <div class="row no-margin padding-lg">
                            <div class="col-md-4 padding-leftright-null">
                                <div class="text padding-topbottom-null">
                                    <h2 class="margin-bottom-null left">Web Marketing.</h2>
                                </div>
                            </div>
                            <div class="col-md-8 padding-leftright-null">
                                <div class="text padding-topbottom-null">
                                    <h3>Increase your sales</h3>
                                    <p class="margin-bottom-null">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- END Service -->
                    </div>
                    <div class="light-background">
                        <div class="container">
                            <!-- Service -->
                            <div class="row no-margin padding-lg">
                                <div class="col-md-4 padding-leftright-null">
                                    <div class="text padding-topbottom-null">
                                        <h2 class="margin-bottom-null left">Branding.</h2>
                                    </div>
                                </div>
                                <div class="col-md-8 padding-leftright-null">
                                    <div class="text padding-topbottom-null">
                                        <h3>Grow your business</h3>
                                        <p class="margin-bottom-null">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- END Service -->
                        </div>
                    </div>
                    <!-- Section Partners -->
                    <div class="container">
                        <div class="row no-margin">
                            <div class="col-md-12 padding-leftright-null">
                                <div class="partners">
                                    <div class="col-xs-6 col-sm-4 col-md-2 text padding-leftright-null">
                                        <h3>合作伙伴<br>大腿的logo</h3>
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-2 partner">
                                        <img class="img-responsive" src={% static "assets/img/logo-square-2-dark.png" %} alt="">
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-2 partner">
                                        <img class="img-responsive" src={% static "assets/img/logo-square-3-dark.png" %} alt="">
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-2 partner">
                                        <img class="img-responsive" src={% static "assets/img/logo-square-4-dark.png" %} alt="">
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-2 partner">
                                        <img class="img-responsive" src={% static "assets/img/logo-square-5-dark.png" %} alt="">
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-2 partner">
                                        <img class="img-responsive" src={% static "assets/img/logo-square-6-dark.png" %} alt="">
                                    </div>
                                    <!--<div class="col-xs-6 col-sm-4 col-md-2 partner"></div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Section Partners -->
                </div>
            </div>
            <!--  END Page Content -->
        </div>
        <!--  Main Wrap  -->
        
{% endblock %}
